[Oo]bj/
[Bb]in/
TestResults/
.nuget/
.vscode/
packages/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
nuget.exe
*net45.csproj
*net451.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*.ncrunchsolution
*.*sdf
*.ipch